body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------Sidenav------------------------------------------------- */
.nav-wrapper {
  background-color: #6A80C0;
}

.logoIECentral {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background: #eef0f1;
}

.brand-logo {
  position: absolute;
  z-index: 20;
}

.logoMobile {
  background: rgb(243, 243, 243);
  text-align: center;
}

.logoMobile img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

/* ----------------------------------------------------------------------------------------------------------- */

.contenedor-card {
  position: relative;
  height: 417px;
  background-color: #6A80C0;
  border: 1px solid transparent;
  margin-bottom: 500px;
  z-index: 10;
}

.card-registro {
  width: 45%;
  background-color: #fff;
  margin: 50px auto 0;
  box-shadow: 1px 1px 46px 2px #000;
  padding: 20px;
  border-radius: 10px;
}

.fondoLading {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.fondoLading__lottie {
  position: relative;
  left: -40px;
}

.tituloCard {
  text-align: center;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  text-shadow: 4x 4px 5px #000;
}

.contenedor__recaptcha {
  width: 55%;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 920px) {
  .card-registro {
    width: 90%;
    margin-top: 120px;
  }

  .contenedor__recaptcha {
    width: 35%;
    margin: 0 auto;
  }
}

/* Modificar los nav en los menus que estan despues de iniciar sesion o los modulos protegidos */
nav {
  height: 50%;
}

nav>ul {
  height: 50%;
  display: flex;
}

nav ul li {
  height: 50%;
  list-style: none;
  position: relative;
}

/* Submenu */
nav ul li ul {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: absolute;
  top: 90px;
  left: -5px;
  padding: 5px 0px;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  z-index: 30;
  transition: all 300ms ease;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  top: 70px;
}

nav ul li ul::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
  position: absolute;
  top: -12px;
  left: 20px;
}

nav ul li ul li a {
  display: block;
  color: #6A80C0;
  padding-left: 14px;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 300ms ease;
}

nav ul li ul li a:hover {
  background-color: #6A80C0;
  color: #fff;
  transform: scale(1.1);
  padding-left: 36px;
  font-size: 14px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------Footer---------------------------------------------- */
/*
/* Color de fondo del footer */
.colorFooter {
  background: #6A80C0;
  /* reserva para navegadores antiguos */
  padding: 68px;
}

/* Logo abajo Footer */
.logoAbajo {
  border-radius: 20px;
  margin-top: -30px;
  position: relative;
  top: -100px;
}

/* Ultima letras del footer */
.copy {
  margin: 0;
  height: 0px;
  position: relative;
  top: 22px;
  color: #fff;
}