body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------Sidenav------------------------------------------------- */
.nav-wrapper {
  background-color: #6A80C0;
}

.logoIECentral {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background: #eef0f1;
}

.logoMobile {
  background: rgb(243, 243, 243);
  text-align: center;
}
  
.logoMobile img {
  width: 30%;
  height: 30%;
  object-fit: cover;
}

/* --------------------------------------------Contenido de la página-------------------------------------------- */

.contenedor-card {
  position: relative;
  border: 1px solid transparent;
  margin-bottom: 40px;
}

.card-registro {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  margin: 100px auto 0;
  box-shadow: 1px 1px 46px 2px #6A80C0;
  padding: 20px;
  border-radius: 10px;
}

.contenedor-figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fafafa;
  box-shadow: 1px 1px 25px 2px #6A80C0;
  padding: 0.1px;
}

.contenedor-figure--img {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#9ab1f6, #4A5F9C);
  border: 5px solid #fff;
  border-radius: 50%;
}

.contenedor-title {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
}

.contenedor-info {
  height: 150px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.contenedor-info--parrafo {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.contenedor-card__descripcion,
.contenedor-btn {
  text-align: center;
}

.contenedor-btn {
  margin: 20px 0 0 0;
}

.contenedor-btn--link {
  width: 50%;
  max-width: 350px;
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #6A80C0;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin: 20px auto;
  transition: 0.5s;
}

.contenedor-btn--link:hover {
  background-color: #4A5F9C;
  color: #fff;
  transition: 0.5s;
}

/* Modificar los nav en los menus que estan despues de iniciar sesion o los modulos protegidos */
nav {
    height: 100%;
  }
  
  nav > ul {
    height: 100%;
    display: flex;
  }
  
  nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
  }
  
  /* Submenu */
  nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
  }
  
  nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
  }
  
  nav ul li ul::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -12px;
    left: 20px;
  }
  
  nav ul li ul li a{
    display: block;
    color : #6A80C0;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
  } 
  
  nav ul li ul li a:hover{
    background-color: #6A80C0;
    color: #fff;
    transform: scale(1.1);
    padding-left: 36px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  }

/* ------------------------------------------------Footer---------------------------------------------- */
/*
/* Color de fondo del footer */
.colorFooter {
    background: #6A80C0;  /* reserva para navegadores antiguos */
    padding: 68px;
  }
  
  /* Logo abajo Footer */
  .logoAbajo {
    border-radius: 20px;
    margin-top: -30px;
    position: relative;
    top: -100px;
  }
  
  /* Ultima letras del footer */
  .copy {
    margin:0;
    height: 0px;
    position: relative;
    top: 22px;
    color: #fff;
  }

  /* Responsive Design*/
@media screen and (max-width: 1024px) {
  .card-registro {
    width: 90%;
    margin-top: 180px;
  }

  .contenedor-figure {
    top: 90px;
  }

  .contenedor__recaptcha {
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 540px) {
  .contenedor-info {
    flex-flow: column nowrap;
    text-align: center;
    overflow: scroll;
    height: 250px;
  }

  .contenedor-btn--link {
    width: 90%;
  }

  .contenedor-title {
    margin-top: 80px;
  }
}

@media screen and (max-width: 376px) {
  .card-registro {
    width: 95%;
    margin-top: 180px;
    box-shadow: 1px 1px 25px 2px #6A80C0;
    overflow: hidden;
  }
}