body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor-card {
	position: relative;
	border: 1px solid transparent;
	margin-bottom: 40px;
}

/* Contenedor principal del formulario */
.card-registro {
	width: 70%;
	background-color: #fff;
	margin: 40px auto 0;
	box-shadow: 1px 1px 46px 2px #6A80C0;
	padding: 20px;
	border-radius: 10px;
}

.fondoLading {
	width: 200px;
	margin: 0 auto;
}

.fondoLading__lottie {
	position: relative;
	left: -40px;
}

.tituloCard {
	text-align: center;
	font-size: 2rem;
	margin: 0;
	font-weight: bold;
	text-shadow: 4x 4px 5px #000;
}

.contenedor-card__descripcion {
	text-align: center;
}

fieldset {
	border: 0;
}

.input-group {
	display: flex;
	justify-content: space-evenly;
}

.input-container {
	flex: 1;
	position: relative;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 1.1rem;
	color: #000;
}

.contenedor-card__fielset {
	margin-bottom: 20px;
}

.inputFile {
	width: 100%;
	margin-bottom: 30px;
	color: #aba8a8;
	font-size: 1.2rem;
	line-height: 1.15;
	margin: 0;
}

.inputs {
	display: block;
	width: calc(100% - 20px);
	padding: 10px;
	margin: 10px 0;
	border: 0;
	border-bottom: 2px solid #697a8d;
	font-size: 1.1rem;
}

.inputs:focus+label,
.inputs:valid+label {
	top: -20px;
	font-size: 16px;
	color: #697A8D;
}


.inputs:focus {
	outline: none;
}

.inputs--selects {
	margin-top: 50px;
}

.contenedor-card__fieldset {
	width: 100%;
	margin: 0 auto;
}

/* Estilos para el textarea en agregarPregunta */
.inputs__textarea {
	display: block;
	width: 100%;
	height: 150px;
	max-width: 600px;
	max-height: 150px;
	min-width: 100%;
	min-height: 150px;
	padding: 10px;
	font-size: 1.1rem;
	margin: 0 auto;
}

.contenedor__recaptcha {
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}

/* Estilos para el contenedor del botón */
.boton-container {
	text-align: center;
	margin-top: 20px;
}

/* Estilos para el botón */
.menu-icono {
	font-size: 16px;
	cursor: pointer;
	padding: 12px 30px;
	background-color: #6A80C0;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

.menu-icono:hover {
	background-color: #4E6CB0;
}

.error {
	color: #e15773;
	font-size: 1.2rem;
}

.success {
	color: darkcyan;
	font-size: 1.2rem;
}

ul {
	list-style-type: disc;
}

/* Estilos para insertarOpRespuesta */
/* Estilo para los inputs */
.option {
    display: flex;
	flex-flow: row wrap;
}

.option__input,
.option__select {
    flex: 1;
    margin-right: 10px;
	margin-top: 15px;
	padding: 10px;
	font-size: 1.1rem;
	border: 1px solid #000;
	border-radius: 5px;
}

.option__remove {
	background-color: #e15773;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.4s;
	margin-top: 15px;
}


.question__add-option,
.question__save-button {
    background-color: #6A80C0; /* Color del botón guardar y agregar */
    color: #fff;
    border: none;
    padding: 11px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
	font-size: 1.1rem;
}

.question__add-option:hover,
.question__save-button:hover {
    background-color: #586f9a; /* Color hover del botón guardar y agregar */
}


/* Responsive Design*/
@media screen and (max-width: 1024px) {
	.card-registro {
		width: 90%;
		margin-top: 50px;
	}

	.contenedor__recaptcha {
		width: 100%;
		overflow: hidden;
	}
}

@media screen and (max-width: 830px) {
	.inputs__textarea {
		width: 100%;
		height: 150px;
		max-width: 620px;
		max-height: 150px;
		min-width: 620px;
		min-height: 150px;
		padding: 10px;
		font-size: 1.1rem;
		border: 1px solid #000;
	}
}

@media screen and (max-width: 431px) {
	.inputs__textarea {
		width: 200px;
		height: 150px;
		max-width: 30px;
		max-height: 150px;
		min-width: 300px;
		min-height: 150px;
		padding: 10px;
		font-size: 1.1rem;
		border: 1px solid #000;
	}
}

@media screen and (max-width: 376px) {

	.card-registro {
		width: 95%;
		margin-top: 30px;
		box-shadow: 1px 1px 25px 2px #6A80C0;
		overflow: hidden;
	}

	.input-group {
		display: block;
	}

	.input-container {
		margin-bottom: 10px;
	}

	.inputs {
		width: 100%;
	}

	.tituloCard {
		font-size: 1.4rem;
	}

	.inputs__textarea {
		width: 190px;
		height: 150px;
		max-width: 30px;
		max-height: 150px;
		min-width: 300px;
		min-height: 150px;
		padding: 10px;
		font-size: 1.1rem;
	}
}